.customers {
  display: flex;
  text-align: center;
  flex-direction: column;

  .title {
    font-size: 28px;
    letter-spacing: 0.84px;
    font-size: 28px;
    padding-bottom: 30px;
    padding-top: 120px;
  }
  
  .list-clients {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
  }

  .clients-item {
    padding: 16px 52px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: all 0.5s;
  }
  .clients-item:hover {
    border-color: #2196F3 ;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .list-clients {
    width: 800px;
    margin: 0 auto;
  }

  .customers {
    .title {
      padding-top: 60px;
    }
  }
}

@media screen and (min-width: 1201px){
}